/* ----------------------------------------- */
/*  Scene Controls
/* ----------------------------------------- */
#gridCont {
  position: fixed;
  top: 400px;
  left: 10px;
  list-style: none;
  background: none;
  box-shadow: none;
  border: none;
}
#gridCont li .grid-tools {
  display: none;
  position: absolute;
  right: -50px;
  top: 0px;
}
#gridCont li.active .grid-tools {
  display: block;
}
.grid-tools {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  z-index: 60;
}
.grid-tools > li {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px #000;
  margin: 0 0 8px;
  color: #BBB;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}
.grid-tools > li.active,
.grid-tools > li:hover {
  color: #FFF;
  border: 1px solid green;
  border-bottom: 1px solid green;
  box-shadow: 0 0 10px green;
}
.grid-tools > li i.fas {
  margin: 0;
}
